<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="bg-light border-bottom py-3 fixed-top" th:fragment="header">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="logo">
            <i class="fa fa-store"></i> Shop
        </div>
        <div class="d-flex align-items-center">

            <!-- Cart Dropdown -->
            <div th:if="${currentPath != '/product/add'}">
                <div th:replace="layout/menuCart::cart"></div>
            </div>

            <!-- User Dropdown -->
            <div class="dropdown">
                <a class="btn btn-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-user fa-lg"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <!-- Проверяем, авторизован ли пользователь -->
                    <li sec:authorize="isAuthenticated()">
                        <span class="dropdown-item-text" th:text="${#authentication.name}">Имя пользователя</span>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" th:href="@{/logout}">Выйти</a>
                    </li>
                    <!-- Для неавторизованных пользователей отображаем кнопки входа и регистрации -->
                    <li sec:authorize="isAnonymous()">
                        <a class="dropdown-item" th:href="@{/login}">Войти</a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a class="dropdown-item" th:href="@{/user/add}">Зарегистрироваться</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</header>

</body>
</html>